@import "./../utilidades/mixin";
@import "./../utilidades/vars";
@import "./../utilidades/extend";

/* PRODUCTS STYLES */
.main-container-products {
  display: flex;
  justify-content: center;
}
.products-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto;
  max-width: 1400px;
}
.products-section > * {
  margin: auto;
}
.products-img {
  width: 300px;
  @extend %border;
  margin: auto;
}
.products-img-uno {
  grid-column: 1/2;
  grid-row: 1/2;
}
.products-img-cuatro {
  grid-column: 3/4;
  grid-row: 2/3;
}
.products-img-polo {
  grid-row: 1/3;
  height: 800px;
}
.text-products-tittles {
  color: $color-uno;
  text-transform: uppercase;
  max-width: 300px;
  font-weight: bolder;
  font-size: 1.3rem;
  white-space: wrap;
  margin-top: 20px;
}
.text-products-prices1 {
  color: $color-dos;
  background-color: transparent;
  text-decoration: underline;
  font-size: larger;
  font-weight: bolder;
}
.text-products-prices {
  text-decoration: underline;
  font-weight: bold;
}
